* { /* todos os estilos vai para todos os elementos da pag */
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    padding: 0%;
}

body {
    color: #263138;
}

header {
    background-color: #ff9a6c;
    display: flex; /*formato que exibe os elementos, FLEX: exibição flexivel */
    align-items: center; /*alinhar no centro VERTICAL*/
    justify-content: space-between; /*alinhar na HORIZONTAL*/
    padding-left: 80px; /*espaçamento interior da direita*/
    padding-right: 80px;
    padding-top: 24px;
    padding-bottom: 24px;
}
header a {
    color: #ffffff;
    font-weight: 600; /*peso da fonte */
    padding: 32px; 
    text-decoration: none; /*tirar o sublinhado*/
} 

#inicio {
   display: flex;
   align-items: center; /*alinhar verticalmente*/
   gap: 32px; /*ESPAÇAMENTO*/
   padding: 24px 80px 128px 80px; /*topo, direita, baixo, esquerda*/
   position: relative ;
}

h1, h2 {
   font-weight: 600; /*TEXTO EM NEGRITO*/
   font-size: 32px; /*TAMANHO DA FONTE */
   margin-bottom: 32px;
}

.paragrafo {
    line-height: 150%; /*altura de linha*/
    margin-bottom: 32px;  
}

.boton {
    background-color: #ff725e;
    border-radius: 8px; /*borda arredondada*/
    color: #ffffff;
    /*vertical, horizontal*/
    padding: 16px 32px; 
    text-decoration: none; /* tirar o sublinhado */
}

.boton-transparente {
   background-color: transparent;
   color: #ff725e;
   padding: 16px 32px;
   text-underline-offset: 4px; /*espasada no sublinhado*/ 
}
.absoluto {
   position: absolute; /*posicionar o elemento de forma absoluta na pag*/
   bottom: 0px; /*ficar no fundo*/
   left: 0px; /*ficar na esquerda*/
   width: 100px; /*largura = 100 = pag toda*/
   z-index: -10px; /*posição de profundidade*/
   /*se colocar uma valor negativo, fica no fundo/atras de tudo*/
}

#clinica {
   display: flex;
   align-items: center;
   gap: 64px;
   padding: 64px 80px;
}

#clinica li {
  margin-bottom: 16px; /*margem em baixo*/
  margin-left: 32px; /*margem a esquerda*/  
}

#farmacia {
    padding: 64px 80px;
    text-align: center; /*alinhar o texto ao centro*/  
}

#farmacia img {
    margin: 64px auto;
}

#farmacia .paragrafo {
    max-width: 950px; /*largura máxima*/
    margin: 0px auto; /*calcular automaticamente a margem da direita e esquerda*/
}

#duvidas {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

.duvidas {
   position: relative; 
}


.duvidas h3 {
   border: 2px solid #ff725e;
   border-radius: 8px; /*borda arredondada*/
   cursor: pointer; /*cursor do mouse / vira a maozinha, indicando resposta*/ 
   padding: 24px;
}

.duvidas img {
    position: absolute;
    top: 32px; /*distancia do topo*/
    right: 24px; /*direita*/
}

.duvidas .paragrafo {
   border-right: 1px solid #ff725e;
   border-bottom: 1px solid #ff725e;
   border-left: 1px solid #ff725e;
   border-radius: 0 0 8px 8px;
   margin-top: -8px;
   padding: 0 24px; /*VERTICAL, HORIZONTAL*/
   height: 0; /*altura*/
   opacity: 0; /*transparencia do elemento*/
   /*HIDDEN = escondido*/
   overflow: hidden; /*transbordamento de um elemento*/
   transition: .2s; /*criar transições/ mudanças de estados dos elementos mais demoradas*/
}

.duvidas.ativa .paragrafo {
   height: fit-content;
   opacity: 1;
   padding: 24px; 
}

footer {
   background-color: rgba( 255, 152, 108, 0.25); 
   display: flex;
   justify-content: space-between; /*espaçamento entre os elementos*/
   gap: 80px;
   padding: 64px 80px;
}

footer img,
footer .titulo {
  display: block;
  font-weight: 600; /*negrito*/
  margin-bottom: 24px; /*margem em baixo*/
}

footer nav a {
   color: #263138;
   display: block; /*quebra de linha*/
   margin-bottom: 16px;
   text-decoration: none;
}

footer p {
    margin-bottom: 16px;
    max-width: 350px; 
}

footer p a {
   color: #263138;
   text-decoration: none; 
}

#copyright {
   background-color: #263138;
   color: #ffffff;
   padding: 24px;
   text-align: center;
}

#copyright a {
    color: #ff9a6c; 
}


